html,
body,
    {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
}



#flex.header{
            display:flex;
        background-color: rgb(42, 98, 153);
        justify-content: space-evenly;
        text-align: right;
        word-wrap: normal;  
        padding: 24px 24px 24px; 
        
            
}
.oncampus{
       
       background-color: grey;
       justify-content: space-evenly;
       text-align: right;
       word-wrap: normal;
       padding: 24px 64px 24px;
       flex-shrink: 1;
       

}
#flex.box {
    display: flex;
    flex-shrink: 1;
}
#flex.main{
    display:flex;
    justify-content: space-evenly;
    text-align: right;
    word-wrap: normal;
    padding: 24px;
}
#flex.info{
  display:flex;
  background-color: grey;
  justify-content: space-evenly;
  text-align: right;
  word-wrap: normal;
  padding: 24px;
 }
#flex.classes{
    display:flex;
    flex-flow: wrap;
    text-align: right;
    word-wrap: normal;
    padding: 24px ;
}
#flex.thesis{
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    height: 60%;
    
}
#flex.fisma{
 display: flex;
 justify-content: flex-end;
}

#flex.footer{
        display: flex;
        justify-content: space-between;
        text-justify: right;
        padding: 24px;
        word-wrap: normal;
    }
    .banner-image{
        max-width: 60%;
        max-height: 24px;
    }
    .banner{
        max-width: 60%;
    }
  


